.footer-icon {
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 115%;
}
.buttonSocial-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--background-color-1);
  color: white;
  padding: 0.5rem;
}