.box-login {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 138px;
  right: 30%;
  left: 30%;
}
.login-z {
  width: 30vw;
  height: 120px;
  box-shadow: 5px 4px 4px #cac7c771;
  border-radius: 10px;
  background-color: white;
  color: var(--background-color-1);
  padding: 1rem;
}
.line {
  width: 90%;
  border-color: var(--background-color-1);
}