.box-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 44%;
  left: 33%;
  padding-bottom: 1rem;
  ;
}
.login-z {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 30vw;
  height: 140px;
  box-shadow: 5px 4px 4px #cac7c771;
  border-radius: 20px;
  background-color: white;
  color: var(--background-color-1);
  padding: 1rem;
  margin-top: 2.5rem;
}
.line {
  width: 90%;
  border-color: var(--background-color-1);
}
.login-btn {
  height: 4.2rem;
  width: 28rem;
  background-color: var(--background-color-1);
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 1.2rem;
}
.wrapper-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--background-color-1);
  padding-top: 4rem;
  width: 100%;
}
.wrapper-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}





@media screen and (max-width: 1139px) {
  .login-btn, .wrapper-text {
    width: 370px;
  }
}
@media screen and (max-width: 885px) {
  .login-z {
    top: 45%;
  }
  .login-btn, .wrapper-text {
    width: 295px;
    height: 3.2rem;
  }
}
@media screen and (max-width: 717px) {
  .box-login {
    top: 46%;
  }
  .login-z {
    height: 110px;
    font-size: 14px;
  }
  .wrapper-login {
    padding-top: 5rem;
  }
  .login-btn, .wrapper-text {
    height: 2.2rem;
    width: 240px;
    font-size: 14px;
  }
}
@media screen and (max-width: 590px) {
  .box-login {
    top: 39%;
  }
  .login-z {
    height: 80px;
    font-size: 12px;
  }
  .wrapper-login {
    padding-top: 2.2rem;
  }
  .login-btn, .wrapper-text {
    width: 180px;
    font-size: 12px;
  }
}

